.nav__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.nav__menu {
    display: flex;
    gap: 20px;
}

.menu__item{
    list-style: none;
    font-family: 'Larsseit';
    font-size: 14px;
    line-height: 16px;
}

.menu__item a{
    text-decoration: none;
    color: #22356F;
}

.menu__item a:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.438);
    padding-bottom: 8px;
}

.nav__button {
    background: #62D0DF;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;

    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media (max-width: 960px) {
    .menu__item{
        font-size: 14px;
        line-height: 16px;
    }

    .nav__button {
        padding: 10px 20px;
    }
}

@media (max-width: 600px) {
    .nav__logo {
        display: none;
    }
}